%p
  This is a demonstration of web access to a Taverna Server.
%p
  It is not intended as a fully functional interface to a Taverna Server and is purely for demonstration purposes.  More information about Taverna and Taverna Server is available on the Taverna
  %a{:href => 'http://www.taverna.org.uk'}
    website.
%p
  To specify the location of the Taverna Server, change the
  %a{:href => '/configuration'}
    configuration.
%ul
  %li
    %a{:href => "/workflows"}Workflows
  %li
    %a{:href => "/runs"}Runs
  %li
    %a{:href => "/configuration"}Configuration
%p
  Taverna Server is funded by European Commission 7th Framework Programme (FP7)
  projects
  %a{:href => "http://www.helio-vo.eu/"}HELIO
  (No. 238969) and
  %a{:href => "http://www.biovel.eu"}BioVeL
  (No. 283359).

