%p
  This is a demonstration of the running of
  %a{:href => 'http://www.biovel.eu'} BioVeL
  workflows on a
  %a{:href => 'http://www.taverna.org.uk'}
    Taverna
  2.4 Server
%p
  It is not intended as a fully functional interface to a Taverna Server and is purely for demonstration purposes.
%ul
  %li
    %a{:href => "/workflows"}Workflows
  %li
    %a{:href => "/runs"}Runs
