%p
  This is a demonstration of web access to a Taverna Server 2.2 Release 1.
%p
  It is not intended as a fully functional interface to a Taverna Server and is purely for demonstration purposes.  More information about Taverna and Taverna Server is available on the Taverna
  %a{:href => 'http://www.taverna.org.uk'}
    website.
%p
  To spectify the location of the Taverna Server, change the
  %a{:href => '/configuration'}
    configuration.
%ul
  %li
    %a{:href => "/workflows"}Workflows
  %li
    %a{:href => "/runs"}Runs
  %li
    %a{:href => "/configuration"}Configuration
    